.price{
    margin-left: 70px;
    color: brown;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.service-btn {background-image: linear-gradient(to right, #614390 0%, #E5E5BE  51%, #812ea7  100%)}
.service-btn{
   margin: 10px;
   padding: 10px 45px;
   text-align: center;
   text-transform: uppercase;

   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .service-btn:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
   transition: 0.5s;
 }
